
<form class="login-form" action="/login" method="POST"></form>

<div class="box2">
<h1>Log in to your profile page.</h1>

<div class="user-name">
    <label for="userName"><b></b></label>
	<input type="text"placeholder="Enter Username" name="userName" required>
</div>

<br>

<div class="add-password">
    <label for="password"><b></b></label>
	<input type="password" placeholder="Enter password" name="password" required>
	<button type="submit" class="button">Submit</button>
</div>

</form>



	