
<form class="signup-form" action="/signup" method="POST"></form>


<div class="box">
<h1>Signup now!</h1>

<div class="user-name">
    <label for="userName"><b></b></label>
	<input type="text"placeholder="Enter Username" name="userName" required>
</div>

<br>
<div class="add-email">
    <label for="email"><b></b></label>
	<input type="email" placeholder="Enter email" name="email" required>
</div>
	
<br>
<div class="add-password">
    <label for="password"><b></b></label>
	<input type="password" placeholder="Enter password" name="password" required>

	<button type="submit" class="button">Create Account</button>
</div>

<form/>





